@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  margin: 0;
}

p {
  font-family: 'Open Sans Condensed';
}

body {
  background-color: LightSkyBlue;
}

header {
  background-image: url('images/chicagoskyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15vw;
}

.top {
  font-family: 'Cinzel';
  text-align: center;
}

.logopic {
  display: block;
  margin: 5% auto 0 auto;
  width: 50%;
}

.info {
  font-size: 20px;
  margin: 5% 10% 5% 10%;
}
