@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  margin: 0;
}

p {
  font-family: 'Open Sans Condensed';
}

h1 {
  font-family: 'Cinzel';
}

body {
  background-color: LightSkyBlue;
}

header {
  background-image: url('images/chicagoskyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15vw;
}

nav {
  margin-left: 0.5%;
}

nav a {
  color: Blue;
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  text-decoration: none;
}

.top {
  text-align: center;
}

.topPics {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

#truckpic {
  padding-top: 2%;
}

.info {
  font-size: 20px;
  margin: 1% 10% 5% 10%;
}

.about {
  text-align: center;
}
