@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  margin: 0;
}

p {
  font-family: 'Open Sans Condensed';
}

h1 {
  font-family: 'Cinzel';
}

body {
  background-color: LightSkyBlue;
}

header {
  background-image: url('images/chicagoskyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15vw;
}

nav {
  margin-left: 0.5%;
}

nav a {
  color: Blue;
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: Black;
  text-decoration: underline;
}

.top {
  text-align: center;
}

.topPics {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

#img2 {
  padding-top: 2%;
}

.info {
  font-size: 20px;
  margin: 1% 10% 5% 10%;
}

.about {
  text-align: center;
}

/*-------------------------------*/
        /**** modal css ****/

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
